################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt-1/FileContentIndex/71f19f8b-b704-461d-ad9c-3f681da51c6d.vsidx
