################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt-1/FileContentIndex/71f19f8b-b704-461d-ad9c-3f681da51c6d.vsidx
/.vs/Projekt-1/FileContentIndex/d3b8cc00-1b0d-4202-840d-4a987564f931.vsidx
