################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt-1/FileContentIndex/71f19f8b-b704-461d-ad9c-3f681da51c6d.vsidx
/.vs/Projekt-1/FileContentIndex/d3b8cc00-1b0d-4202-840d-4a987564f931.vsidx
/.vs/Projekt-1/FileContentIndex/237abfb3-919d-4bc8-943f-bf033bb22e82.vsidx
/.vs/Projekt-1/FileContentIndex/f09a31bc-e012-45d2-8eca-d0e1ba80a1d2.vsidx
/.vs/Projekt-1/FileContentIndex/1df25c06-8df7-4af4-9d17-89cd892a3a8a.vsidx
/.vs/Projekt-1/FileContentIndex/f70de882-90ea-4646-9d1e-62a622f9dc03.vsidx
/.vs/Projekt-1/FileContentIndex/23a21ff4-d86c-49c1-8e2d-43dbee2971bd.vsidx
/.vs/Projekt-1/FileContentIndex/3fdf23d3-d96b-4c1a-bf3f-93b15a515943.vsidx
/.vs/Projekt-1/FileContentIndex/780d057e-8aaf-4549-a0f3-d031971198d0.vsidx
